#box{
    position: absolute;
width:500px;
height:500px;
background-color: coral;
}

#chota{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 200px;
    height: 100px;

    background-color: yellow;
}





#orange{
    width: 100px;
    height:100px;
    background-color:orange;
    position: absolute;
}
#white{
    width: 120px;
    height:120px;
    background-color: blue;
    /* position: absolute; */
}
#green{
    width: 140px;
    height:140px;
    background-color: green;
    /* position: absolute; */
}

